body {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}

.thumbnail {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #ebe7e7;
    border: 1px solid rgb(95, 28, 28);
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    width: 300px;
    height: 200px;
}

.thumbnail::-moz-focus-inner {
    border: 0;
}